<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/1.css">
</head>
<body>
    <div class="article-list">
        <% data.forEach(function(item) { %>
            <div class="article-item">
                <p><a href='http://localhost:3000/admin/<%= item.idArticle %>'><%= item.titleArticle %></a></p>
                <p><%= item.descriptionArticle %></p>
            </div>
        <% }); %>
    </div>

    <div class="form">
        <h2>Добавить статью</h2>
    <form action = "https://localhost:3000/admin/addArticle" method="post">
        <label for="titleArticle">Hазвание статьи</label>
            <input type="text" name="titleArticle" id="titleArticle" required> 
            <p>
                <label for="textArticle">Teкст статьи</label>
                <textarea rows="10" cols="30" id="textArticle"></textarea>
            </p> 
            <p>
                <label for="descriptionArticle">Описание статьи</label>
                <input type="text" name="descriptionArticle" id="descriptionArticle">
            </p>
            <button type="submit" id="sendArticle">Cоздать статью</button>
    </form>

    <script>
        // Получаем кнопку отправки формы
        const sendArticleButton = document.querySelector('#sendArticle');
    
        // Добавляем обработчик события "click" на кнопку отправки формы
        sendArticleButton.addEventListener('click', (event) => {
            event.preventDefault(); // Отменяем стандартное поведение кнопки (перезагрузку страницы)
    
            // Получаем данные формы
            const titleArticle = document.querySelector('#titleArticle').value;
            const textArticle = document.querySelector('#textArticle').value;
            const descriptionArticle = document.querySelector('#descriptionArticle').value;
    
            // Отправляем данные на сервер
            fetch('http://localhost:3000/admin/addArticle', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    titleArticle,
                    textArticle,
                    descriptionArticle
                })
            })
            .then(response => {
                if (response.ok) {
                    // Если запрос был успешным, обновляем страницу
                    window.location.reload();
                } else {
                    // Если запрос не был успешным, выводим сообщение об ошибке
                    throw new Error('Ошибка при отправке данных на сервер');
                }
            })
            .catch(error => console.error(error)); // Обрабатываем возможную ошибку
        });
    </script>


    </div>
</body>
</html>